tensorflow==2.15.0
absl-py==2.1.0
asgiref==3.8.1
astunparse==1.6.3
cachetools==5.3.3
dj-database-url==2.2.0
Django==5.0.6
djangorestframework==3.15.2
Django
django-environ
flatbuffers==24.3.25
gast==0.4.0
google-auth==2.30.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.64.1
gunicorn==22.0.0
h11==0.14.0
h5py==3.11.0
idna==3.4
jax==0.4.30
jaxlib==0.4.30
keras==2.15.0
Keras-Preprocessing==1.1.2
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
marshmallow==3.21.3
django-cors-headers
mkl-service
ml-dtypes
mpmath
multiprocess
namex
numpy
oauthlib
opt-einsum
optree
ply
protobuf
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
Pygments
PyQt5
PySocks
sqlparse
tensorboard
tensorboard-data-server
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
unicodedata2
uvicorn
Werkzeug
whitenoise
wrapt
accelerate
aiohttp
aiosignal
attrs
Bottleneck
Brotli
charset-normalizer
click
colorama
contourpy
cycler
datasets
dill
filelock
fonttools
frozenlist
fsspec
gmpy2
huggingface_hub
importlib-metadata
Jinja2
joblib
kiwisolver
matplotlib
mdurl
mkl-fft
mkl-random
multidict
networkx
nltk
numexpr
packaging
pandas
pillow
psutil
pyparsing
PyQt5-sip
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
responses
rich
rsa
safetensors
scikit-learn
scipy
sip
six
sympy
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
transformers
typing_extensions
tzdata
urllib3
win-inet-pton
xxhash
yarl
zipp
